apiVersion: apps/v1
kind: Deployment
metadata:
  name: licomart-frontend
  namespace: licomart
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: santiov22/frontend-licomart
          ports:
            - containerPort: 80
